<div class="page-header">
	<h1>Reset your password</h1>
</div>
<div class="alert alert-info">
    Please type in a new password below, then click the Save button.
</div>
<p>
  <label class="required txt-small">Required field</label>
</p>
<form role="form" name="form" novalidate>
   <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
    <label class="required" for="password">Password</label>
    <div class="controls">
        <input type="password" name="password" class="form-control" placeholder="Enter your password" required ng-model="password" ng-minlength="5">
        <div class="alert alert-danger" ng-show="submitted && form.password.$invalid">
            <span ng-show="form.password.$error.required">You must enter a password</span>
            <span ng-show="form.password.$error.minlength">Please enter a password that's at least 5 characters long</span>
        </div>
    </div>
</div>
<button class="btn btn-primary" ng-click="submit()" ng-disabled="processing">{{submitButtonText}}</button> 
<a href="#/" class="btn" ng-disabled="processing">Cancel</a>
</form>